{% extends 'base.html' %}

{% block content %}
    <h2>Suivre d'autres utilisateurs</h2>
    <form method="post" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">Envoyer</button>
    </form>
    <h2>Abonnements</h2>
    {% for user_follows in followed_users %}
        <p>{{ user_follows.followed_user.username }}</p>
        <a href="{% url 'unfollow' user_follows.id %}">Supprimer</a>
    {% endfor %}
    <h2>Abonnés</h2>
    {% for user_follows in following_users %}
        <p>{{ user_follows.user.username }}</p>
    {% endfor %}
{% endblock %}