{% extends 'base.html' %}

{% block content %}
    <div class="home-actions">
        <a href="{% url 'ticket-create' %}">Demander une critique</a>
        <a>Créer une critique</a>
    </div>
    {% for ticket in tickets %}
        <div style="border: 1px solid; margin: 10px 0; padding: 0 10px;">
            <p>{{ ticket.user }} a demandé une critique.</p>
            <p>{{ ticket.time_created }}</p>
            <p>{{ ticket.date_created }}</p>
            <p>{{ ticket.title }}</p>
            <p>{{ ticket.description }}</p>
            <img src="{{ ticket.image.url }}" style="max-width: 200px;">
        </div>
    {% endfor %}
{% endblock %}