<div class="review">
    <p>{{ review.user }} a publié une critique.</p>
    <p>{{ review.time_created }}</p>
    <p>{{ review.headline }}</p>
    <p>{{ review.rating }} étoiles</p>
    <p>{{ review.body }}</p>
    <div class="ticket">
        <p>Ticket - {{ review.ticket.user }}</p>
        <p>{{ review.ticket.title }}</p>
        <img src="{{ review.ticket.image.url }}">
        {% if review.ticket.user != user %}
            <a href="{% url 'review-create' review.ticket.id %}">Créer une critique</a>
        {% endif %}
    </div>
</div>