{% load review_extras %}
{% load static %}

<div class="card m-2">
    <div class="card-header bg-primary text-white d-flex justify-content-between">
        <span class="card-title">{% get_review_poster_display review.user %}</span>
        <small>{{ review.time_created|format_date }}</small>
    </div>
    <div class="card-body">
    <h3>{{ review.headline }} - {{ review.rating|show_rating }}</h3>
    <p>{{ review.body }}</p>
    <div class="card">
        <p class="card-header">Ticket - {% get_poster_display review.ticket.user %}</p>
        <div class="card-body">
        <p>{{ review.ticket.title }}</p>
        {% if review.ticket.image %}
            <img src="{{ review.ticket.image.url }}">
        {% else %}
            <img src="{% static 'images/default_cover.jpg' %}">
        {% endif %}
        {% if review.ticket.user != user %}
            <div class="d-flex p-2 justify-content-end">
                <a href="{% url 'review-create' review.ticket.id %}" class="btn btn-primary">Créer une critique</a>
            </div>
        {% endif %}
        </div>
    </div>
    {% if post_page %}
        <div class="d-flex p-2 justify-content-end">
            <a href="{% url 'review-update' review.id %}" class="btn btn-primary m-2">Modifier</a>
            <a href="{% url 'review-delete' review.id %}" class="btn btn-danger m-2">Supprimer</a>
        </div>
    {% endif %}
    </div>
</div>