{% load review_extras %}
{% load static %}

<div class="card m-2">
    <div class="card-header bg-primary text-white d-flex justify-content-between">
        <span class="card-title">{% get_ticket_poster_display ticket.user %}</span>
        <small>{{ ticket.time_created|format_date }}</small>
    </div>
    <div class="card-body">
    <h3>{{ ticket.title }}</h3>
    <p>{{ ticket.description }}</p>
    {% if ticket.image %}
        <img src="{{ ticket.image.url }}">
    {% else %}
        <img src="{% static 'images/default_cover.jpg' %}">
    {% endif %}
    {% get_reviewed_by_user ticket as ticket_reviewed %}
    {% if home_page and not ticket_reviewed %}
        <div class="d-flex p-2 justify-content-end">
            <a href="{% url 'review-create' ticket.id %}" class="btn btn-primary">Créer une critique</a>
        </div>
    {% endif %}
    {% if post_page %}
        <div class="d-flex p-2 justify-content-end">
            <a href="{% url 'ticket-update' ticket.id %}" class="btn btn-primary m-2">Modifier</a>
            <a href="{% url 'ticket-delete' ticket.id %}" class="btn btn-danger m-2">Supprimer</a>
        </div>
    {% endif %}
    </div>
</div>