<!DOCTYPE html>
<html lang="fr">
{% load static %}

<head>
    <title>LITReview</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <header class="header">
        <h1 class="header__title">LITReview</h1>
        <nav class="header__nav">
            {% if user.is_authenticated %}
                <a href="{% url 'home' %}">Flux</a> |
                <a href="{% url 'user-posts' %}">Posts</a> |
                <a href="{% url 'following' %}">Abonnements</a> |
                <a href="{% url 'logout' %}">Se déconnecter</a>
            {% endif %}
        </nav>
    </header>
    <div class="content">{% block content %}{% endblock content %}</div>
</body>
</html>